.weather {
  display: block;
  text-align: center;
  margin-top: 0.4em;
  font-size: 4em;
  color: black; }

input[type="submit"] {
  border: none;
  background: none; }

.temperature {
  font-size: 7em;
  position: relative;
  font-weight: bold; }

.superscript {
  position: relative;
  display: inline-block;
  font-size: 0.2em;
  top: -3em;
  right: 0;
  font-weight: normal; }
  .superscript .btn {
    border: none;
    border-radius: none;
    background: transparent; }
    .superscript .btn:focus {
      outline: 0; }
    .superscript .btn:active {
      border-color: transparent;
      box-shadow: inset 0 3px 5px transparent; }
